{% extends "layout.html" %}
{% block title %}Editor{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static' ,filename='styles.css')}}">
{% endblock %}
{% block navbar %}
{% block navcontents %}
<a href="/">Home</a>
<a href="/Robots">Robots</a>
<a href="/Mechanisims">Mechanisims</a>
<a href="/Teams">Teams</a>
<a class="active" href="/Editor">Editor</a>
{% endblock %}
{% endblock %}
{% block contents %}

<div class="table_editor">
<table title="I'm a table">
            
    <tr>
        <th>Team</th>
        <th>Year</th>
        <th>game</th>
        <th>Drive train</th>
        <th>delete</th>
        <th>Add image</th>
    </tr>
    {% for item in results1 %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>

            <td>
                <form action="/delete_Robot" method="post">
                <input type="hidden" name="item_name" value="{{item[0]}}">
                <input type="submit" value="delete">  
                </form>
            </td> 
            <td> 
                <form action="/upload1" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*" multiple>
                    <input type="hidden" name="item_name" value="{{item[0]}}">
                    <input type="submit" value="send">
                </form>
            </td>

        </tr>
    {% endfor %}
</table>

<form class="add" action="/add_Robot" method="post">
    <h1>Enter a new Robot</h2>

    <select type="text" name="team_id">
        <option value="none" selected disabled hidden>select a team
        {% for item in results2 %}
        <option value= {{ item[0] }}>{{ item[1] }}</option>
        {% endfor %}
    </select>

    <select type="text" name="year">
        <option value="none" selected disabled hidden>select a year
        <option value= 2018-2019>2018-2019</option>
        <option value= 2019-2020>2019-2020</option>
        <option value= 2020-2021>2020-2021</option>
        <option value= 2021-2022>2021-2022</option>
    </select> 
    
    <select type="text" name="game">
        <option value="none" selected disabled hidden>select a game
        <option value= "Turning Point">Turning Point</option>
        <option value= "Tower Takeover">tower takeover</option>
        <option value= "Change Up">Change up</option>
        <option value= "Tipping Point">Tipping Point</option>
    </select>


    <select type="text" name="drive_train_id">
        <option value="none" selected disabled hidden>select a drive train
        {% for item in results3 %}
        <option value= {{ item[0] }}>{{ item[1] }}</option>
        {% endfor %}
    </select>

    <input type="submit" Value="add">
</form>
</div>
<div class="table_editor">
    <table title="I'm a table">
                
        <tr>
            <th>name</th>
            <th>delete</th>
        </tr>
        {% for item in results2 %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>
                <form  action="/delete_teams" method="post">
                <input type="hidden" name="item_name" value="{{item[0]}}">
                <input type="submit" value="delete">  
                </form>
            </td>
            <td> 
                <form action="/upload2" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*" multiple>
                    <input type="hidden" name="item_name" value="{{item[0]}}">
                    <input type="submit" value="send">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <form class="add" action="/add_teams" method="post">
        <h1>Enter a new item</h2>
        <input type="text" name="name" placeholder="Insert team name here">
        <input type="submit" Value="add">
    </form>
    </div>

    <div class="table_editor">
        <table title="I'm a table">
                    
            <tr>
                <th>type</th>
                <th>delete</th>
            </tr>
            {% for item in results3 %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>
                    <form action="/delete_drive_train" method="post">
                    <input type="hidden" name="item_name" value="{{item[0]}}">
                    <input type="submit" value="delete">  
                    </form>
                </td>
                <td> 
                    <form action="/upload3" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" accept="image/*" multiple>
                        <input type="hidden" name="item_name" value="{{item[0]}}">
                        <input type="submit" value="send">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <form class="add" action="/add_drive_train" method="post">
            <h1>Enter a new item</h2>
            <input type="text" name="type" placeholder="Insert drive train type here">
            <input type="submit" Value="add">
        </form>
        </div>
{% endblock %}