<!DOCTYPE html>

<!-- this is the code for the error page -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" layout="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" layout='ie=edge'>
        <link rel="stylesheet" href="{{url_for('static' ,filename='styles.css')}}">
        <title>Error</title>
    </head>
    <Body class="errordesign">
        <div class="error">
        ERROR  
        </div>

        <Button class="return" onclick="document.location='/Editor'">Return</Button>
        
    </Body>
</html>