<!-- this is the code for the home page -->
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static' ,filename='styles.css')}}">
{% endblock %}

{% block navbar %}
{% block navcontents%}
<a class="active" href="/">Home</a>
<a href="/Robots">Robots</a>
<a href="/Mechanisims">Mechanisims</a>
<a href="/Teams">Teams</a>
<a href="/Editor">Editor</a>
{% endblock %}

{% block contents %}
<div class="home_body">
    
    <h1>Welcome</h1>

    <h2 >On this website you will find information reagrding Burnside Highs schools robotics club. 
    <br> You will be able to find out about our robots we have used for the past years as well as our teams and mecahnisims used.
    <br> To edit some of the information you can use the table editor.  
    </h2>

</div>
{% endblock %}

{% endblock %}