<!-- this is the code for the home page -->
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static' ,filename='styles.css')}}">
{% endblock %}

{% block navbar %}
{% block navcontents%}
<a class="active" href="/">Home</a>
<a href="/Robots">Robots</a>
<a href="/Mechanisims">Mechanisims</a>
<a href="/Teams">Teams</a>
<a href="/Editor">Editor</a>
{% endblock %}

<Body>
    
<h1>Welcome</h1>

<h2>On each one of the lablled tabs you will find information realted to the tabs name
    in order to add new information use the editor tab
</h2>

</Body>
{% endblock %}