<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" layout="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" layout='ie=edge'>
        <link rel="stylesheet" href={{url_for('static' ,filename='styles.css')}}>
        <title>{% block title %} {% endblock %}</title>
        {% endblock %}
        
     
    </head>
    <body>
        
        <div class="contents">
            {% block logo %}
            <H1>
            <img src="static/robotic logo.png" alt="Logo.png"  title="Logo" class="center"> 
            </H1>
            {% endblock %}
            {% block Navbar %}
            <div class="topnav">
            {% block navcontents %} {% endblock %}
            </div>
            {% endblock %}
            {% block contents %}
                
            {% endblock %} 
        </div> 
    </body>

    

</html>