<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% block title %}Robots{% endblock %}
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static' ,filename='styles.css')}}">
    {% endblock %}
    {% block navbar %}
    {% block navcontents %} 
    <a href="/">Home</a>
    <a class="active" href="/Robots">Robots</a>
    <a href="/Mechanisims">Mechanisims</a>
    <a href="/Teams">Teams</a>
    <a href="/Editor">Editor</a>
    
    {% endblock %}
    {% endblock %}
    {% block contents %}
        
     <div class="cards_package">
        {% for item in results %}
        <div class="card">
            <img class="robot_image" src="/static/uploads/{{item[5]}}" alt="Avatar" style="width:100%">
            <div class="container">
    
            <div class="id">{{item[0]}}</div>
            <div>team:{{item[1]}} </div>
            <div>year:{{item[2]}} </div>
            <div>game:{{item[3]}} </div>
            <div>drive train:{{item[4]}} </div>
            
            </div>
        </div>
        {% endfor %}
     </div>
    {% endblock %}


    
</html>

