<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% block title %}Robots{% endblock %}
    {% block head %}
    <link rel="stylesheet" href={{url_for('static' ,filename='styles.css')}}>
    {% endblock %}
    {% block navbar %}
    {% block navcontents %} 
    <a href="/">Home</a>
    <a class="active" href="/Robots">Robots</a>
    <a href="/Mechanisims">Mechanisims</a>
    <a href="/Teams">Teams</a>
    <a href="/Editor">Editor</a>
    {% endblock %}
    {% endblock %}
    {% block contents %}

        <table title="I'm a table">
            
            <tr>
                <th>id</th>
                <th>team_id</th>
                <th>year</th>
                <th>game</th>
                <th>drive_train_id</th>
            </tr>
            {% for item in results %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
            {% endfor %}
        </table>
        
        {% for item in results %}
        <div class="card">
            <img class="robot_image" src="static/robot.jpg" alt="Avatar" style="width:100%">
            <div class="container">
    
            <div class="id">{{item[0]}}</div>
            <div>team:{{item[1]}} </div>
            <div>year:{{item[2]}} </div>
            <div>game:{{item[3]}} </div>
            <div>drive train:{{item[4]}} </div>
            
            </div>
        </div>
        {% endfor %}
    {% endblock %}
/* page to help with griding cards https://www.w3schools.com/howto/howto_css_column_cards.asp */
</html>

